<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    {% if data and data.title %}
        <title>{{ data.title }} - Project Demo</title>
    {% else %}
        <title>Project Demo</title>
    {% endif %}
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="./">Project Demo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
               <a class="nav-link active" aria-current="page" href="#">Home</a>
               <a class="nav-link" href="#">About</a>
               <a class="nav-link" href="#">Services</a>
               <a class="nav-link" href="#">Projects</a>
               <a class="nav-link" href="#">Contact us</a>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container">
    	<div class="row clearfix">
    		{% block content %}{% endblock %}
    	</div>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
